.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  .container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  .container a {
    text-decoration: none;
  }

  .toolbar-top {
    color: black;
    /* --background: #ffc409; #ffeaa7 */
    --background:#ffeaa7;
  }

  .btnsignup {
    width: 280px;
    height: 50px;
    margin-left: 60px;
    color: white;
    font-size: 16px;
  }

  .page-footer {
    background-color: black;
    color: white;
    height: 80px;
  }

  .btn-container {
    margin-top: 60px;    
  }

  .signup-card {
    margin-top: 60px; 
    border: red;
    border-radius: 5px;
    margin-right: 40px;
    background: white;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 800px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24)
  }

  h1 {
    color: black;
    font-size: large;
  }

  .btn-login {
    width: 180px;
    margin-left: 300px;
    margin-top: 60px;
    height: 55px;
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
  }


  .list-trending {    
    /* width: 1200px; */
    width: 80%;
    margin-left: 200px;
    /* padding-left: 20px; */
  }

  .list-trending-item {    
    height: 300px;
    color: black;
    --background: #ffeaa7;
  }

  .btn-popular-causes {
    width: 260px;
    height: 150px;
    --background: black;
    --color: white;
  }

  .btn-container {
    align-content: center;
    padding-left: 150px;
  }

  .btn-charity-login {
    /* --color: blue; */
    font-size: 22px;
  }

  .btn-charity {
    --color: blue;
    font-size: 22;
  }

  .header-text {
    /* color: black; */
    font-size: 50px;
    color: black;
    align-content: center;
    font-weight: bold;
  }

  .img-charity {
    height: 300px;
    width: 300px;    
    /* min-height: 1px !important; */
    background-color: black;
  }

  .img-toolbar {
    height: 80px;
    width: 150px;
  }


  .img-container {
    align-content: center;
  }


  .toolbar-title {
    line-height: 40px;
    padding-left: 50px;
    padding-top: 15px;
  }

  .col-style {
    background-color: #ffeaa7;
    /* align-content: space-around 15px space-between 15px; */
    width: 80px;
    height: 80px;
    align-content: center space-between 15px;
  }